:root {
    --primary: hsl(0, 100%, 68%);
    --dark: hsl(230, 29%, 20%);
    --steel: hsl(230, 11%, 40%);
    --grey: hsl(231, 7%, 65%);
    --light: hsl(207, 33%, 95%);
    --white: hsl(0, 100%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* links */
a {
    text-decoration: none;
    color: var(--dark);
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.hero-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 50%;
    background-color: var(--light);
    border-radius: 0 0 0 25%;
}
/* desktop navigation */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4em 3em 3em 7em;
    z-index: 1;
}

.menu {
    color: var(--dark);
    display: flex;
    list-style: none;
    z-index: 2;
}

.menu > li {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 1em;
}

.menu > li:last-child {
    margin-right: 3em;
}

.menu-muted-circle {
    height: 7px;
    width: 7px;
    background-color: var(--grey);
    border-radius: 50%;
    display: flex;
    align-self: center;
}

.menu-muted-text {
    color: var(--grey);
}
/* main */
.main {
    padding: 5em 0;
    height: 75vh;
    display: flex;
}

.product-info {
    flex-basis: 50%;
    padding: 0 3em 0 7em;
}

.text-highlight {
    color: var(--white);
    background-color: var(--dark);
    border-radius: 25%;
    padding: 3px 8px;
    letter-spacing: 0;
    margin-right: 1em;
    font-weight: 700;
}

.product-news {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--grey);
    letter-spacing: 3px;
    margin-bottom: 1em;
}

.product-heading {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 1;
    color: var(--dark);
}

.product-detail {
    text-transform: none;
    color: var(--steel);
    margin: 1em 0 3em 0;
}

.button-container {
    display: flex;
    align-items: center;
}

.btn-cta {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5%;
    border: none;
    padding: 0.75em 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
}

.btn-cta:hover {
    background-color: hsl(0, 92%, 75%);
    cursor: pointer;
}

.btn-description {
    color: var(--grey);
    letter-spacing: 1px;
    margin-left: 1em;
    font-size: 0.9rem;
    word-spacing: 4px;
}

.product-image {
    flex-basis: 50%;
    z-index: 2;
    text-align: right;
}

.illustration {
    width: 90%;
}

/* footer attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
/* media queries - mobile and tablet */
@media screen and (max-width: 769px) {
    .nav {
        margin: 2em;
    }
    .menu {
        width: 85%;
        flex-direction: column;
        padding: 1em;
        position: absolute;
        top: 7rem;
        left: -800px;
        background-color: var(--white);
        max-height: 300px;
        z-index: 15;
        box-shadow: -5px 7px 10px -1px rgba(0,0,0,0.3);
        transition: 250ms ease-in-out;
    }
    .menu > li {
        margin: 0.75em auto;
        width: 100%;
        text-align: center;
    }
    .menu > li:last-child {
        margin-right: 1em;
    }
    .menu-muted-circle {
        display: none;
    }
    .menu-muted-text {
        border-top: 1px solid var(--grey);
        padding-top: 1em;
    }
    .menu.visible {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    /* hamburger icon */
    .hamburger-icon {
        height: 32px;
        position: absolute;
        right: 40px;
        top: 28px;
        width: 32px;
        z-index: 10;
        cursor: pointer;
    }
    .hbg {
        position: relative;
        top: 20px;
        display: block;
        width: 20px;
        height: 3px;
        background-color: var(--dark);
    }
    .hbg:before,
    .hbg:after {
        position: absolute;
        content: '';
    }
    .hbg,
    .hbg:before,
    .hbg:after {
        width: 32px;
        height: 4px;
        background-color: var(--dark);
        display: block;
        transition: all .2s ease-in-out;
    }
    .hbg:before {
        margin-top: -12px;
    }
    .hbg:after {
        margin-top: 12px;
    }
    .hbg.active:before {
        transform: translateY(12px) rotate(135deg);
    }
    .hbg.active:after {
        transform: translateY(-12px) rotate(-135deg);
    }
    .hbg.active {
        width: 0;
    }

    .main {
        padding: 2em 0;
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .product-info {
        flex-basis: 100%;
        padding: 2em;
    }
    .product-heading {
        font-size: 2.5em;
    }
    .btn-cta {
        font-size: 0.7em;
    }
    .btn-description {
        font-size: 0.7rem;
        word-spacing: normal;
    }
    .product-image {
        flex-basis: 100%;
        z-index: 2;
        text-align: right;
        margin: 0 0 3em 1em;
    }
    .illustration {
        width: 100%;
    }
}